body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Arial", sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

label {
    margin: 0;
}

p {
    font-size: 1.25rem;
    font-weight: 200;
    white-space: nowrap;
    margin: 15px 0;
    font-family: "Arial", sans-serif;
}

.input-hidden {
    position: absolute;
    left: -9999px;
}

.calc-input[type=radio]:checked + .calc-label > img, .calc-input[type=radio]:hover + .calc-label > img {
    border-bottom: 1px solid #da16dd;
}

.calc-input[type=radio] + .calc-label > img {
    border-bottom: 1px solid transparent;
    padding: 0 0 5px 0;
    margin: 0 5px;
}

.calc-input[type=radio] + .calc-label > img {
    width: 100%;
    max-width: 26px;
    height: auto;
    cursor: pointer;
}

.calc {
    height: 100vh;
    background-image: url("img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.content-calc {
    padding: 0 135px 60px;
}

.calc-container {
    width: 100%;
    max-width: 815px;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
    border-radius: 5px;
}

.content-calc {
    padding-top: 45px;
}

.heading-title {
    background: #ab13d7;
    background: -moz-linear-gradient(left, hsla(287, 84%, 46%, 1) 0%, hsla(299, 82%, 48%, 1) 100%);
    background: -webkit-linear-gradient(left, hsla(287, 84%, 46%, 1) 0%, hsla(299, 82%, 48%, 1) 100%);
    padding: 30px 0;
    background: linear-gradient(to right, hsla(287, 84%, 46%, 1) 0%, hsla(299, 82%, 48%, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ab13d7', endColorstr='#da16dd', GradientType=1);
}

.heading-title h2 {
    color: #fff;
    border-bottom: 5px solid #fff;
    font-size: 3.125rem;
    font-family: "Arial Black", sans-serif;
    display: table;
    padding-bottom: 15px;
}

.review-input {
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    transition: all .2s ease-in-out;
    width: 100%;
}

.review-input:focus {
    border-bottom: 1px solid #ab13d7;
}

.color-purple {
    color: #ab13d7;
}

.help {
    position: relative;
    cursor: pointer;
}

.help::before {
    content: attr(content);
    position: absolute;
    display: none;
    bottom: calc(8px + 8px + 14px);
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 230px;
    padding: 10px;
    box-shadow: 0 0 12px #ccc;
    font-size: 12px;
    border-radius: 4px;
    background-color: #fff;
}

.help:hover::before {
    display: table;
}

.help::after {
    content: '';
    position: absolute;
    display: none;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    width: 20px;
    height: 20px;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.2);
    bottom: 26px;
}


.submit-btn {
    background: #ab13d7;
    background: -moz-linear-gradient(top, hsla(287,84%,46%,1) 0%, hsla(299,82%,48%,1) 100%);
    background: -webkit-linear-gradient(top, hsla(287,84%,46%,1) 0%,hsla(299,82%,48%,1) 100%);
    background: linear-gradient(to bottom, hsla(287,84%,46%,1) 0%,hsla(299,82%,48%,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ab13d7', endColorstr='#da16dd',GradientType=0 );
    border-radius: 40px;
    border: none;
    color: #fff;
    padding: 15px 45px;
    transition: background .2s ease-in-out;
    cursor: pointer;
    font-size: 1rem;
    outline: none;
    font-family: "Arial Black";
}

.border-style {
    padding: 5px;
    border: 1px solid #ab13d7;
    border-radius: 40px;
    background: #ab13d7;
    background: -moz-linear-gradient(top, hsla(287,84%,46%,1) 0%, hsla(299,82%,48%,1) 100%);
    background: -webkit-linear-gradient(top, hsla(287,84%,46%,1) 0%,hsla(299,82%,48%,1) 100%);
    background: linear-gradient(to bottom, hsla(287,84%,46%,1) 0%,hsla(299,82%,48%,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ab13d7', endColorstr='#da16dd',GradientType=0 );
}

.submit-btn:hover {
    background: #da16dd;
    background: -moz-linear-gradient(top, hsla(299,82%,48%,1) 0%, hsla(287,84%,46%,1) 100%);
    background: -webkit-linear-gradient(top, hsla(299,82%,48%,1) 0%,hsla(287,84%,46%,1) 100%);
    background: linear-gradient(to bottom, hsla(299,82%,48%,1) 0%,hsla(287,84%,46%,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da16dd', endColorstr='#ab13d7',GradientType=0 );
    box-shadow: 1px 1px 3px #ab13d7;
}

.submit-btn:hover .border-style {
    background: transparent;
}

.submit-btn:focus {
    outline: none;
}

@media screen and (max-width: 992px){
    .calc {
        height: auto;
    }

    .help::before {
        left: auto;
        right: 0;
        transform: translateX(0%);
    }
}

@media screen and (max-width: 768px){
    .content-calc {
        padding: 50px 20px 50px;
    }
}

@media screen and (max-width: 460px){
    .heading-title h2 {
        padding-bottom: 5px;
        font-size: 1.875rem;
    }

    .font-20 {
        font-size: 1.25rem;
        font-weight: 600;
    }

    p, input {
        font-size: 1rem;
    }
}

